<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BackendDS" value="sqlserver"/>
  </appSettings>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=.;Initial Catalog=DemoDB;user id=test;password=qwerty"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
