<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Aquí ponemos settings de parámetros-->
    <add key="PathLog" value="d:\\Logs\"/>
    <add key="LanguagePath" value="I18n\idioma"/>
    <add key="LogFileName" value="info.log"/>
    <add key="DALAssembly" value="DAL.dll"/>
    <add key="BLLAssembly" value="BLL.dll"/>
    <add key="UIAssembly" value="UI.exe"/>
    <add key="BackendDS" value="sqlserver"/>
    <!--<add key="ExceptionsFileName" value="error.log"/>-->
  </appSettings>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=.;Initial Catalog=TestDB;user id=test;password=qwerty"/>
    <add name="ServicesConString" connectionString="Data Source=.;Initial Catalog=SecurityDB;user id=test;password=qwerty"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>