<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Aquí ponemos settings de parámetros-->
    <add key="PathLog" value="d:\\Logs\"/> 
  </appSettings>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=.;Initial Catalog=FOODMART;user id=foodmart;password=qwerty"/>  
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>